rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
   
    match /journal/{document} {
      	allow read
    		allow write: if !exists(/databases/$(database)/documents/journal/$(document)) && request.auth.uid == "PROGRESS_UID";
    }
    
    match /oasis/{document} {
      	allow read
    		allow write: if !exists(/databases/$(database)/documents/oasis/$(document))
    }
  }
}