@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
}
.my-masonry-grid_column > div {
  border-width: 2px;
  border-color: black;
}

.star-masonry-grid_column {
  padding-left: 15px; /* gutter size */
}
.star-masonry-grid_column > div {
  border-width: 2px;
  border-color: rgb(225, 29, 72);
}
.star-masonry-grid_column > div:hover {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.is-active {
  font-weight: bold;
}
